<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawCharts);

      // Callback that creates and populates a data table,
      // instantiates the chart, passes in the data and
      // draws it.
      function drawCharts() {

        var data = google.visualization.arrayToDataTable(<%= raw @data_json.to_json %>);

        // Set chart options
        var options = {
            width: 2000,
            height: 1200,
            legend: { position: 'top', maxLines: 3 },
            bar: { groupWidth: '50%' },
            isStacked: true,
          };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);

        var donutData = google.visualization.arrayToDataTable(<%= raw @donut_data_json.to_json %>);

        var donutOptions = {
          title: 'Total amounts spent',
          width: 1200,
          height: 1200,
          pieHole: 0.4,
        };

        var donutChart = new google.visualization.PieChart(document.getElementById('donut_chart_div'));
        donutChart.draw(donutData, donutOptions);
      }
    </script>

    <script type="text/javascript">


    </script>
  </head>

  <body>

    <form action='/presentation' method='GET'>
     <div>
      From date:
      <input type='date' name='filter[date_from]'/>
     </div>
     <div>
      To date:
      <input type='date' name='filter[date_to]'/>
     </div>
     <div>
      Only expenses:
      <input type='checkbox' name='filter[only_expenses]'/>
     </div>
     <div>
      Only income:
      <input type='checkbox' name='filter[only_income]'/>
     </div>
     <input type='submit' />
    </form>

    <div id="chart_div"></div>
    <div id="total_expenses">
      <h3>Total expenses on current time period:</h3>
      <h2><%= @total_expenses %></h2>
    </div>
    <div id="donut_chart_div"></div>
  </body>
</html>
