<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>

  <body>
    <div>GET /syncs/</div>
    <div>POST /syncs/</div>

    <div>GET /presentation/</div>
    <div>---> parameters: GET /presentation/</div>
  </body>
</html>
